.List {
	list-style: none;
	position: relative;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 0px;
	text-align: center;
	left: 5.5%;
}

.ListItem {
	display: inherit;
	margin: -10px 0px 0px 0px;
	text-align: center;
	position: relative;
}

.Divider {
	display: flex;
	flex-flow: row;
	justify-content: center;
	font-weight: bold;
	font-size: x-large;
}

.Link {
	text-decoration: none;
	color: rgba(192, 97, 19, 0.945);
	font-weight: bold;
	text-align: center;
	font-size: x-large;
}

.Link:hover {
	color: rgb(77, 192, 77);
}

.Div {
	position: fixed;
	background-color: inherit;
	display: flex;
	/* justify-content: right; */
	float: inline-end;
	width: 50%;
	padding: 0px;
	margin-top: 0px;
	z-index: 200;
	left: 5px;
}

.Title {
	display: block;
	text-align: center;
	font-weight: bold;
	color: rebeccapurple;
	font-size: 20px;
}

.Sudacode {
	position: relative;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 46px;
	color: dodgerblue;
	margin-bottom: 15%;
	text-decoration: none;
	z-index: 500;
	/* background-color: rebeccapurple; */
	/* padding: 30px 0px; */
}

.Button {
	position: relative;
	top: 2px;
}
