.Button {
	display: flex;
	float: right;
	padding: 5px;
	margin: 5px;
	/*margin-right: 10px;*/
	position: relative;
	font-weight: bold;
	font-size: 20px;
	background-color: dodgerblue;
	top: 2px;
	color: rgba(192, 97, 19, 0.945);
	background-color: rebeccapurple;
	border: 1px solid dodgerblue;
	border-radius: 35px;
	left: 27%;
}

.Button:hover {
	background-color: green;
}

.Button:active {
	background-color: green;
}

/*
@media (min-width: 500px) {
	.Button {
		display: none;
	}
}
*/
