.Japan {
	vertical-align: middle;
	border-radius: 50%;
	width: 400px;
	height: 400px;
}

.ImgContainer {
	margin-top: -10px;
	display: flex;
	float: left;
	position: relative;
	left: 0px;
}

@media (max-width: 800px) {
	.Japan {
		width: 140px;
		height: 140px;
	}
}
